<md-card class="card-lg" id="portfolio-card">
    <md-card-content>
        <div layout="column" layout-gt-xs="row" >
          <!-- left large side  -->
            <div flex flex-gt-xs="75">
              <!-- left headline -->
                <div layout="row">
                    <h1 flex data-ng-bind="portfolio.title"></h1>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                            <md-icon md-menu-origin>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item data-ng-if="!isEditPortfolioMode && canEdit()">
                                <md-button data-ng-click="editPortfolio()">
                                    <md-icon md-menu-align-target>edit</md-icon>
                                    <span data-translate="EDIT_PORTFOLIO"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isEditPortfolioMode">
                                <md-button data-ng-click="showEditMetadataDialog()">
                                    <md-icon md-menu-align-target>edit</md-icon>
                                    <span data-translate="PORTFOLIO_EDIT_METADATA"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="(isEditPortfolioMode || canEdit() || isAdmin()) && !portfolio.deleted">
                                <md-button data-ng-click="confirmPortfolioDeletion()">
                                    <md-icon md-menu-align-target>delete</md-icon>
                                    <span data-translate="PORTFOLIO_DELETE"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isAdmin() && portfolio.deleted">
                                <md-button data-ng-click="restorePortfolio()">
                                    <md-icon md-menu-align-target>undo</md-icon>
                                    <span data-translate="BUTTON_RESTORE"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isViewPortforlioPage" dop-copy-permalink></md-menu-item>
                            <md-menu-divider data-ng-if="isAdmin()"></md-menu-divider>
                            <md-menu-item data-ng-if="isAdmin()" dop-recommend data-portfolio="portfolio"></md-menu-item>
                            <md-menu-divider data-ng-if="isViewPortforlioPage && isLoggedIn()"></md-menu-divider>
                            <md-menu-item data-ng-if="isViewPortforlioPage && isLoggedIn()  && !isRestricted()" dop-report-improper data-learning-object="portfolio"></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <!-- left meta  -->
                <div layout="row" class="on-left">
                    <div flex>
                        <p class="md-body-2 meta">
                            <small class="md-caption">
                                <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></span>
                            </small>
                            <br>
                                <span data-ng-if="portfolio.taxon"
                                    data-translate="{{getEducationalContext()}}">
                                </span>
                            <span data-ng-if="!portfolio.taxon" data-translate="UNKNOWN">Unknown</span>
                        </p>
                    </div>
                    <div flex data-ng-if="!$root.taxonUtils.getSubject(portfolio.taxon)">
                        <p class="md-body-2 meta">
                            <small class="md-caption">
                                <span data-translate="DETAIL_VIEW_DOMAIN"></span>
                            </small>
                            <br/>
                            <span data-ng-if="$root.taxonUtils.getDomain(portfolio.taxon)"
                                  data-translate="{{'DOMAIN_' + $root.taxonUtils.getDomain(portfolio.taxon).name.toUpperCase()}}">
                            </span>
                            <span data-ng-if="!$root.taxonUtils.getDomain(portfolio.taxon)"
                                  data-translate="UNKNOWN">Unknown</span>
                        </p>
                    </div>
                  <div flex data-ng-if="$root.taxonUtils.getSubject(portfolio.taxon)">
                    <p class="md-body-2 meta">
                      <small class="md-caption">
                        <span data-translate="DETAIL_VIEW_SUBJECT"></span>
                      </small>
                      <br/>
                            <span data-ng-if="$root.taxonUtils.getSubject(portfolio.taxon)"
                                  data-translate="{{'SUBJECT_' + $root.taxonUtils.getSubject(portfolio.taxon).name.toUpperCase()}}">
                            </span>
                            <span data-ng-if="!$root.taxonUtils.getSubject(portfolio.taxon)"
                                  data-translate="UNKNOWN">Unknown</span>
                    </p>
                  </div>
                  <div flex>
                    <p class="md-body-2 meta">
                      <small class="md-caption">
                        <span data-translate="DETAIL_VIEW_TARGET_GROUP"></span>
                      </small>
                      <br/>
                            <span data-ng-repeat="targetGroup in getTargetGroups()">
                                {{'TARGET_GROUP_' + targetGroup | translate}}{{$last ? '' : ', '}}
                            </span>
                            <span data-ng-if="!portfolio.targetGroups || !portfolio.targetGroups.length"
                                  data-translate="UNKNOWN">Unknown</span>
                    </p>
                  </div>
                </div>

                <md-divider class="md-default-theme"></md-divider>
                <!-- left description  -->
                <div layout="column" class="on-left" flex>
                    <p class="md-body-1 description" data-ng-bind="portfolio.summary"></p>
                </div>

                <!-- left tags  -->
                <div data-ng-if="portfolio && portfolio.id" data-dop-tags class="tags" data-learning-object="portfolio"></div>

            </div>

            <!-- right small side  -->
            <div layout="column" flex flex-gt-xs="25" class="divider-left" layout-align="start start">
              <div class="corner"></div>
              <!-- imaged -->
                <div data-ng-if="portfolio.hasPicture" class="card-cover imaged">
                    <img data-ng-src="{{portfolio.picture}}"/>
                </div>
                <!-- noimage -->
                <div data-ng-if="!portfolio.hasPicture" class="card-cover portfolio">
                  <span>
                    <md-icon>book</md-icon>
                  </span>
                </div>

                <md-content>
                    <p class="md-body-2 meta">
                        <small class="md-caption">
                            <span data-translate="CREATOR"></span>:
                        </small>
                        <a data-ng-href="/{{portfolio.creator.username}}">
                            <span data-ng-bind="portfolio.creator.name"></span>
                            <span data-ng-bind="portfolio.creator.surname"></span>
                        </a>
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.creator.id != portfolio.originalCreator.id">
                        <small class="md-caption">
                            <span data-translate="ORIGINAL_CREATOR"></span>:
                        </small>
                        <a data-ng-href="/{{portfolio.originalCreator.username}}">
                            <span data-ng-bind="portfolio.originalCreator.name"></span>
                            <span data-ng-bind="portfolio.originalCreator.surname"></span>
                        </a>
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.updated">
                        <small class="md-caption">
                            <span data-translate="UPDATED"></span>:
                        </small>
                        {{portfolio.updated | date:'dd.MM.yyyy'}}
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.added">
                        <small class="md-caption">
                            <span data-translate="CREATED"></span>:
                        </small>
                        {{portfolio.added | date:'dd.MM.yyyy'}}
                    </p>

                    <p class="md-body-2 meta">
                        <small class="md-caption">
                            <span data-translate="VIEW_COUNT"></span>:
                        </small>
                        <span data-ng-bind="portfolio.views"></span>
                    </p>
                </md-content>
            </div>
        </div>

        <md-divider class="md-default-theme"></md-divider>

        <div layout="column" layout-gt-xs="row" class="actions">
            <div ng-if="!isEditPortfolioMode && portfolio.type" flex="50" flex-gt-xs="75">
                <div data-dop-comments-card comments="portfolio.comments" comment="comment" submit-click="addComment()"></div>
            </div>
            <span flex></span>
            <!-- rating control -->
            <div data-ng-if="!isEditPortfolioMode && portfolio.type" data-dop-rating
                 data-portfolio="portfolio"
                 like-message="{{ 'PORTFOLIO_LIKED' | translate }}"
                 dislike-message="{{ 'PORTFOLIO_DISLIKED' | translate }}">
            </div>
        </div>
    </md-card-content>
</md-card>
