<div layout="column" class="sidebar">
  <md-list id="guidlines">
    <md-list-item>
      <a aria-label="Mine Mis on e-Koolikott leheküljele" data-ng-href="/about"
         data-translate="ABOUT_PAGE_LINK_TITLE">Info</a>
    </md-list-item>
    <md-list-item>
      <a aria-label="Mine Kuidas e-Koolikotti kasutada leheküljele" data-ng-href="/help"
         data-translate="HELP_PAGE_LINK_TITLE"></a>
    </md-list-item>
    <md-list-item>
      <a aria-label="Anna tagasisidet e-Koolikoti kohta"
         data-ng-href="mailto:ekoolikott@hm.ee?subject=Tagasiside e-koolikotist"
         data-translate="GIVE_FEEDBACK_LINK"></a>
    </md-list-item>
  </md-list>

  <h2 data-translate="RECOMMENDATIONS"></h2>
  <div data-dop-learning-object-row data-learning-objects="recommendations"></div>
  <div layout="row">
    <span flex></span>
    <md-button data-ng-click="showMoreRecommendations()">
      <span data-translate="SHOW_MORE"></span>
      <md-icon class="md-primary">
        keyboard_arrow_right
      </md-icon>
    </md-button>
  </div>

  <h2 data-translate="MOST_LIKED"></h2>
  <div data-dop-learning-object-row data-learning-objects="mostLikedList"></div>

  <md-list role="list">
    <md-list-item
      role="listitem"
      ng-repeat="section in ::admin.sections"
      ng-class="{
      'active': $state.includes(section.active),
      'disabled': section.disabled
    }"
      ng-click="!section.disabled && $state.go(section.state)">
      <span ng-bind="::section.label"></span>
    </md-list-item>
  </md-list>
</div>
