<md-card class="card-sm md-whiteframe-2dp" ng-class="{ active: selected }" id="material-card-{{material.id}}"
         data-ng-click="navigateTo(material, $event)" layout="column">
  <!-- noimage -->
  <a data-ng-href="{{'/material?materialId=' + material.id}}" data-ng-if="!material.hasPicture"
     class="card-cover {{materialType}}" layout="row" layout-align="center center">
    <div>
      <md-icon class="icon-kind">{{ materialType }}</md-icon>
    </div>
    <div class="card-hover {{materialType}}">
      <div class="pick" data-ng-if="isAuthenticated()">
        <md-icon class="unchecked">radio_button_unchecked</md-icon>
        <md-icon data-ng-click="pickMaterial($event, material)" class="checked">check_circle</md-icon>
      </div>
      <div class="pick" data-ng-if="isEditPortfolioMode && isEditPortfolioPage">
        <md-icon class="unchecked">remove_circle_outline</md-icon>
        <md-icon data-ng-click="removeMaterial($event, material)" class="checked">remove_circle</md-icon>
      </div>
      <md-icon class="icon-kind">{{ materialType }}</md-icon>
    </div>
  </a>
  <!-- image -->
  <a data-ng-href="{{'/material?materialId=' + material.id}}" data-ng-if="material.hasPicture"
     class="card-cover imaged {{materialType}}" layout="row" layout-align="start start">
    <img data-ng-src="{{material.picture}}" class="md-card-image"/>
    <div class="card-hover {{materialType}}">
      <div class="pick" data-ng-if="isAuthenticated()">
        <md-icon class="unchecked">radio_button_unchecked</md-icon>
        <md-icon data-ng-click="pickMaterial($event, material)" class="checked">check_circle</md-icon>
      </div>
      <div class="pick" data-ng-if="isEditPortfolioMode && isEditPortfolioPage">
        <md-icon class="unchecked">remove_circle_outline</md-icon>
        <md-icon data-ng-click="removeMaterial($event, material)" class="checked">remove_circle</md-icon>
      </div>
      <md-icon class="icon-kind">{{ materialType }}</md-icon>
    </div>
  </a>
  <a data-ng-href="{{'/material?materialId=' + material.id}}" class="no-link">
    <div flex>
      <md-card-content flex layout="column">
        <h4 class="md-headline two-rows" data-ng-bind="getCorrectLanguageTitle(material)"></h4>
        <p class="md-caption one-row">
      <span data-ng-repeat="author in material.authors">
        <span data-ng-bind="formatName(author.name)"></span>
        <span data-ng-bind="formatSurname(author.surname)"></span>
        <span data-ng-bind="$index < material.authors.length - 1 ? ', ' : ''"></span>
      </span>
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
        <div class="md-action-icons-list md-caption" flex layout>
          <md-icon>thumb_up</md-icon>
          <span>{{ material.likes }}</span>

          <md-icon>thumb_down</md-icon>
          <span>{{ material.dislikes }}</span>

          <span flex></span>

          <md-icon>visibility</md-icon>
          <span data-ng-bind="material.views"></span>
        </div>
      </md-card-actions>
    </div>
  </a>
</md-card>
